.DS_Store
node_modules
**/node_modules
build
dist
package
.svelte-kit
coverage
.env
.env.*
!.env.example
pnpm-lock.yaml
package-lock.json
yarn.lock
**/*.min.js
Frontend/src/nouislider.css
Frontend/src/assets/svg/svgMap/**
Frontend/static/svg/svgMap/**
Backend/MongoDB/ovis-catalogue.json
Backend/MongoDB/Preprocessing/rareCancers.mjs
Backend/MongoDB/Preprocessing/omock.json
